/* 隐藏滚动条 */
* {
    scrollbar-width: thin;
    scrollbar-color: rgb(60 60 67 / 0%) transparent;
}

/* 顶部样式 下划线 */
a.categoryButton:after {
    top: 57px;
    width: 1rem;
    left: 21px;
    height: 5px;
    background: var(--anzhiyu-white);
    content: "";
    border-radius: 1px;
    position: absolute;
}


#article-container a:not([data-fancybox="gallery"]):not(.headerlink):not(.cf-friends-link):not(.tag-Link):not(.btn-anzhiyu):not( .no-text-decoration ) {
    font-weight: 500;
    border-bottom: solid 2px #ffe5e200;
    color: var(--anzhiyu-fontcolor);
    padding: 0 0.2em;
    text-decoration: none;
    font-family: auto;
}